<h1>Admin Dashboard</h1>
<div class="jumbotron">
  <div>
    <h2>Categories:</h2> <h3><%= @categories.count %></h3>
  </div>
  <div>
    <h2>Products:</h2> <h3><%= @products.count %></h3>
  </div>
</div>