  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <article class="product-detail">

  <div class="row">
    <p>
      We sell stuff that nobody wants to buy at outrageous prices. Our products are all 100% toxic, non-biodegradeable, sourced from unethical and very unsustainable business practices, and if you buy now, will come with free asbestos packaging and a chance to win 50mg of raw Uranium-235. (Perfect gift for children or scientists who want to build an illegal backyard nuclear reactor*)
    </p>
  </div>
  <div class="disclaimer">
    <p>*Jungle™ <i>Build-It-Yourself: Nuclear Reactor Kit for Ages 3 and Up (Uranium-235 sold separately)</i> is no longer available due to a recall notice and class action lawsuit.</p>
  </div>
</article>